.title {
  font-size: 30px;
  font-family: "Sedan SC", serif;
  color: #e85c29;
}

.title:hover {
  color: #e85c29;
}

.nav-link {
  color: whitesmoke;
}

#navbar :hover {
  color: #e85c29;
}

#btn {
  color: whitesmoke;
  transition: 0.3s;
}

#btn:hover {
  border-radius: 10px;
  background: #e85c29;
  color: #fff;
  transition: 0.5s ease-in-out;
}

#container {
  height: 55vh;
  padding: 25px;
  margin-top: 100px;
  background: rgba(124, 100, 100, 0.1);
}

/***** SIDE BAR *****/
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 50px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 15px; /* Increase padding */
}

.sidebar li a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 18px; /* Increase font size */
}

.sidebar li a:hover {
  color: #e85c29;
  cursor: pointer;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

/* Responsive */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar li {
    font-size: 16px; /* Adjust font size */
    padding: 12px; /* Adjust padding */
  }
}
/**** MAIN CONTENT *****/

.table-container {
  margin-bottom: 20px;
}
.btn-group {
  display: flex;
  gap: 10px;
}
.table-responsive {
  margin-bottom: 20px;
}
h4 {
  margin-top: 20px;
}
